.navigation__auth {
    max-width: 176px;
    min-width: 112px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 18px;
    color: #fff;
    margin-left: 32px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center; 
  
}