.search__btn {
    background: #2F71E5;
    border-radius: 100px;
    width: 168px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.search__btn:hover{
background: #347EFF;
}

.search__btn:focus{
    background: #2A65CC;
}

@media screen and (max-width: 1000px) {
    .search__btn {
        width: 168px;
    }
}