.about__title {
    max-width: 496px;
    color: #1a1b22;
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 44px;
    text-align: left;
    margin-top: 50px;
}