.popup {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s linear 0.3s;
}

.popup_opened {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    z-index: 9;
}

.popup__close {
    font-family: sans-serif;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50px;
    right: -47px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 55px;
    line-height: 20px;
    font-weight: 200;
    transform: rotate(45deg);
    transition: opacity .2s ease-out;
    background: transparent;
    user-select: none;
}

.popup__close:hover {
    opacity: 0.6;
}


.popup__content {
    width: 430px;
    margin: auto;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

}


.popup__input {
    width: 358px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto 30px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 4px;

}


.popup__span_error {
    font-size: 12px;
    line-height: 15px;
    opacity: 0;
    max-width: 358px;
    margin: 0 auto;
    height: 10px;
    color: red;
    display: block;
}

.popup__heading {
    color: black;
    max-width: 358px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px auto 22px;
    text-align: left;

}


.popup__form {
    max-width: 358px;
    margin: 0 auto;
}


.popup__save-btn {
    width: 358px;
    height: 64px;
    border-radius: 2px;
    background-color: black;
    margin: 0 auto 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 100px;
    color: #B6BCBF;
    background: #E6E8EB;

}

.popup__save-btn:hover {
    background: #2F71E5;
    color: #ffffff;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.popup__save-btn-hidden {
    display: none
}


@media (max-width: 500px) {
    .popup__content {
        width: 100%;
    }

    .popup__input {
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 6px;
        margin: 10px 0 20px;
    }

    .popup__heading {
        font-size: 24px;
        line-height: 28px;
        width: 90%;
        margin: 20px 0 10px;

    }

    .popup__save-btn {
        width: 100%;
        box-sizing: border-box;
        margin: 25px auto 8px;
        height: 64px;
        font-size: 14px;
        line-height: 17px;
    }

    .popup__close {
        font-size: 55px;
        line-height: 20px;
        width: 40px;
        height: 40px;
        top: -50px;
        right: 5px;
    }

    .popup__input-title {
        height: 0;
    }

    .popup__form {
        width: 90%;
        margin: 0 auto;

    }
}


.popup__save-btn:disabled {
    background: #E6E8EB;
    border-radius: 100px;
    color: #B6BCBF;
    cursor: default;
}

.popup__input-title {
    color: #2f71e5;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 0;
}

.popup__span-auth {
    max-width: 226px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 12px;
    align-self: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.popup__span-auth-hidden {
    display: none;
}

.popup__span-auth_accent {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: blue;
    text-decoration: none;
}

.popup__registration-error {
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    ;
    height: 0;
    margin: 0 auto 20px;
    color: red;
    width: 200px;
    align-self: center;
}

.popup__infotool {
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: blue;
    text-decoration: none;
    margin: 14px 0 51px;
}