@import url(./__helper/app__helper.css);
.App {
  width: 100%;
  font-family: 'Roboto', 'Roboto Slab', 'Source Sans Pro', 'Inter', 'Arial', 'sans-serif';
  text-rendering: optimizeLegibility;
  background-color: #000000;
  color: white;
  min-height: 100vh;
}
