.main {
    max-width: 1440px;
    background-color: #f5f6f7;
    margin: 0 auto;
    padding: 80px, 104px;
    display: flex;
    flex-direction: column;
}

.main__span-error {
    color: #000;
    text-align: center;
    padding: 50px 104px;
    display: block;
    font-size: 18px;
}