.search__input {
    flex-grow: 2;
    border: none;
    border-radius: 100px;
    padding: 22px 40px 22px 24px;

}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #B6BCBF;
}

@media screen and (max-width: 1000px) {
    .search__input {
        margin-right: 60px;
    }
}