.search {
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    padding-bottom: 83px;
    max-width: 1440px;
    margin: 0 auto;
    text-align: left;
    align-items: center;
}

.search__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 64px;
    max-width: 545px;
}

.search__title {
    text-align: left;
    font-family: "Roboto Slab";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 64px;
    max-width: 610px;
    margin: 0 auto 30px;
    padding-left: -30px;
}

.search__form {
    display: flex;
    flex-direction: row;
    max-width: 608px;
    background-color: white;
    border-radius: 100px;
}

.search__form:hover {
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .16);
}

.search__input {
    flex-grow: 2;
    border: none;
    border-radius: 100px;
    padding: 22px 40px 22px 24px;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #B6BCBF;
}

.search__btn {
    background: #2F71E5;
    border-radius: 100px;
    width: 168px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.search__btn:hover {
    background: #347EFF;
}

.search__btn:focus {
    background: #2A65CC;
}

@media screen and (max-width: 1000px) {
    .search {
        align-items: center;
        padding: 40px 0 48px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        margin: 0;
        max-width: 356px;
    }

    .search__subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 45px;
    }

    .search__container {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .search__form {
        max-width: 448px;
        height: 54px;
    }

    .search__input {
        margin-right: 60px;
    }

    .search__btn {
        width: 168px;
    }
}

@media screen and (max-width: 500px) {
    .search {
        padding: 30px 16px;
    }

    .search__title {}

    .search__subtitle {
        margin-bottom: 118px;

    }

    .search__container {}

    .search__form {
        flex-direction: column;
        max-width: 100%;
        background-color: transparent;
        height: 130px;
        justify-content: space-around;
        align-items: center;

    }

    .search__input {
        flex-grow: unset;
        margin: 0;
        height: 56px;
        box-sizing: border-box;
        width: 100%;


    }

    .search__btn {
        box-sizing: border-box;
        height: 56px;
        width: 100%;
        font-size: 18px;
        line-height: 24px;

    }
}